.icon_website {
 color: #0080ff;
 aria-hidden: true
}

.boarder_website{
	color: #1a1a1a
}

.text_website {
  color: #7a7171;  
  font-weight: bold;
}

.text_headings_website {
  color: #7a7171;  
  font-weight: bold;
  font-size:22px;
}

.padding_bottom_row {
  border-bottom: 12px solid transparent;
}




.row.extra-left-padding{
  margin-left: 0px;
}
.row.extra-bottom-padding{
  margin-bottom: 20px;
}
