



 <div class="row">
		 <div class="col-md-4"></div>
		 <div class="col-md-4">
		   <span class="text_headings_website">User Search Page</span>
		 </div>
		<div class="col-md-4"></div>
	  </div>	
	  <div class="row">		
		  <div class="control-group">
		     <div class="cols-sm-12">
			   <!--  <div ng-if="status = 'Succes'"> -->
			   
				   <div class="alert alert-success fade in">
					  <strong>Success user search:</strong> {{message}}
					</div>
			     <!-- </div> -->
		         <div ng-if="status == 'Error'">					          
					<div class="alert alert-danger fade in">
				      <strong>UnSuccess user search:</strong> {{message}}
				    </div>			          
			     </div>
			  </div>
		   </div>
	  </div>      




 <div class="row, padding_bottom_row">
	    <div class="col-sm-12">
	       <div class="row">
				<div class="col-sm-10"></div>
				<div class="col-sm-2">
				    <form class="form-inline">
					  <div class="form-group">
					        <input type="text" name="search" class="form-control" [(ngModel)]="filter" placeholder="Find"/>
					        <i class="fa fa-search" style="font-size:24px;color:#ffffff; "></i>
					   </div>
					</form>
				</div>
			</div>
		  </div>
			
	</div> 

 <div class="row">
		  <div class="col-sm-12">
		   <table class="table">
		     <thead class="thead-inverse">
		        <tr>
					<th class="nowrap_website" (click)="sort('id')">
					   <span class="text_website">ID</span>
					   <span class="glyphicon sort-icon"  *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
  					</th>
					<th class="nowrap_website" (click)="sort('username')">
					    <span class="text_website">UserName</span>
					    <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='username'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th  class="nowrap_website" (click)="sort('password')">
					   <span class="text_website">Password</span>
					   <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='password'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th  class="nowrap_website" (click)="sort('salary')">
					   <span class="text_website">Salary</span>
					   <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='salary'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th class="nowrap_website" (click)="sort('age')">
					   <span class="text_website">Age</span>
					   <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='age'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th></th>  
		           <th></th>  					
		         </tr>
		      </thead>
		     <tbody>
		    
		     
             <tr *ngFor="let user of users | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                   <td><span class="nowrap_website, text_website">{{i}}</span></td>
                   <td><span class="nowrap_website, text_website">{{user.username}}</span></td>
		           <td><span class="nowrap_website, text_website">{{user.password}}</span></td>
                   <td><span class="nowrap_website, text_website">{{user.salary}}</span></td>
		           <td><span class="nowrap_website, text_website">{{user.age}}</span></td>
		           <td><a (click)="viewUser(user)"     style="color:white;font-weight:bold"     class="btn btn-small btn-success">View</a></td>
		           <td><a (click)="updateUser(user)"   style="color:white;font-weight:bold"     class="btn btn-small btn-dark">Edit</a></td>	
              </tr>
		     </tbody>
		     <div class="row">
		        <div class="col-sm-6">
		             <pagination-controls [id]="config.id"
		                         [maxSize]="maxSize"
		                         [directionLinks]="directionLinks"
		                         [autoHide]="autoHide"
		                         [responsive]="responsive"
		                         [previousLabel]="labels.previousLabel"
		                         [nextLabel]="labels.nextLabel"
		                         [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
		                         [screenReaderPageLabel]="labels.screenReaderPageLabel"
		                         [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
		                         (pageChange)="onPageChange($event)"></pagination-controls>
				 </div>
		          <div class="col-sm-6">
		          	<label class="control">maxSize <input type="number" class="input" min="5" max="100" [(ngModel)]="maxSize"></label>
		          </div>
		      </div>
		    </table>
		   
  </div>
</div>

 
<div class="columns">
    <div class="column is-one-third">
        <label class="control">Filter items
            <input type="text" class="input" placeholder="filter" [(ngModel)]="filter">
        </label>
    </div>
    <div class="column">
        <label class="control">itemsPerPage
            <input type="number" class="input" min="0" [(ngModel)]="config.itemsPerPage">
        </label>
    </div>
    <div class="column">
        <label class="control">currentPage
            <input type="number" class="input" min="0" [(ngModel)]="config.currentPage">
        </label>
    </div>
  
</div>
