<p>
  User Search Status: {{error}}
</p>

  
    <div class="col-sm-9">  
      
	  <div class="row">		
		  <div class="control-group">
		     <div class="cols-sm-12">
			   <span class="text_headings_website">USER SEARCH</span>
			  </div>
		   </div>
	   </div>      		  
  
  	   <div class="row">		
		  <div class="control-group">
		     <div class="cols-sm-12">
			    <div ng-if="status == 'Succes'">
				   <div class="alert alert-success fade in">
					  <strong>Success!</strong> {{message}}
					</div>
			     </div>
		         <div ng-if="status == 'Error'">					          
					<div class="alert alert-danger fade in">
				      <strong>Error!</strong> {{message}}
				    </div>			          
			     </div>
			  </div>
		   </div>
	  </div>      		
       
      <div class="row">
		   <div class="col-sm-12">
		       <span style="color: #ffffff; font-weight: bold;">Records found: {{totalItems}}</span>
			</div>
	  </div> 
		
	  <div class="row">
			<div class="col-sm-8">
			  <span style="color: black;  font-weight: bold;"> </span>
			</div>
			<div class="col-sm-4">
			    <form class="form-inline">
				  <div class="form-group">
				        <input type="text" name="search" class="form-control" [(ngModel)]="filter" placeholder="Find"/>
				        <i class="fa fa-search" style="font-size:24px;color:#ffffff; "></i>
				   </div>
				</form>
			</div>
		</div> 
	
	    <div class="row">
		  <div class="col-sm-12">
		   <table class="table">
		     <thead class="thead-inverse">
		        <tr>
					<th class="nowrap_website" (click)="sort('id')">
					   <span class="text_website">ID</span>
					   <span class="glyphicon sort-icon"  *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
  					</th>
					<th class="nowrap_website" (click)="sort('username')">
					    <span class="text_website">UserName</span>
					    <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='username'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th  class="nowrap_website" (click)="sort('password')">
					   <span class="text_website">Password</span>
					   <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='password'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th  class="nowrap_website" (click)="sort('salary')">
					   <span class="text_website">Salary</span>
					   <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='salary'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th class="nowrap_website" (click)="sort('age')">
					   <span class="text_website">Age</span>
					   <span class="glyphicon sort-icon" style="color: white;" *ngIf="key =='age'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th></th>  
		           <th></th>  					
		         </tr>
		      </thead>
		     <tbody>
             <tr *ngFor="let user of users | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                   <td><span class="nowrap_website">{{i}}</span></td>
                   <td><span class="nowrap_website">{{user.username}}</span></td>
		           <td><span class="nowrap_website">{{user.password}}</span></td>
                   <td><span class="nowrap_website">{{user.salary}}</span></td>
		           <td><span class="nowrap_website">{{user.age}}</span></td>
		           <td><a (click)="viewUser(user)"     style="color:white;font-weight:bold"     class="btn btn-small btn-success">View</a></td>
		           <td><a (click)="updateUser(user)"   style="color:white;font-weight:bold"     class="btn btn-small btn-warning">Edit</a></td>	
		           <td><a (click)="deleteUser(user)"   style="color:white;font-weight:bold"     class="btn btn-small btn-danger">Delete</a></td>	
              </tr>
		     </tbody>
             <pagination-controls (pageChange)="p = $event"></pagination-controls>
		   </table>
		 </div>
		</div>
	
    </div>  
    
  
 