 <style type="text/css">
   .row.extra-left-padding{
      margin-left: 0px;
    }
    .row.extra-bottom-padding{
      margin-bottom: 20px;
    }
</style> 



 <!-- Start of Left Side view -->
<div class="row">


<!-- Middle bit containing user details -->
<div class="container">

 <div class="panel panel-default">
    


<div *ngIf="user">
    <div class="col-sm-10"> 
    
    <div class="row">
			<div class="col-sm-12">
		       <span style="color: red; font-size:large; font-weight: bold;">{{errorMsg}}</span>
			</div>
	</div>  
	<div class="row main">
			
		  <div class="control-group">
		      <div class="cols-sm-12">
		          <div *ngIf="status == 'Succes'">
			          <div class="alert alert-success fade in">
  							<strong>Success!</strong> {{message}}
					  </div>
				  </div>
                  <div *ngIf="status == 'Error'">					          
					 <div class="alert alert-danger fade in">
			           <strong>Error!</strong> {{message}}
			         </div>			          
		          </div>
		      </div>
          </div> <!-- <div class="control-group"> -->			
			
			
	
	            	            
	            <!-- Middle centre displaying the User Details  -->
				<div class="main-login main-center">
				    
				    <div class="panel-title text-center">
	               		<h2 class="title">
	               		    <span class="text_headings_website">{{userDetailsHeading}}</span>
	               		</h2>
	               		
	               	</div>
				    
					<div class="cols-sm-10">
						
						
						<div class="control-group">
							<label for="id" class="cols-sm-2 control-label">
							    <span class="control-group-addon"><i class="fa fa-key fa  icon_website"></i></span>
							    <span class="text_website">Id</span>
							</label>
							<div class="cols-sm-6">
								<div class="control-group">
                                    <input type="text" disabled="{{isDisabled}}" class="form-control"  placeholder="Id"  [(ngModel)]="user.id"  />
 								</div>
							</div>
							
						</div>
						
						
						
						<div class="control-group">
							<label for="forename" class="cols-sm-2 control-label">
							    <span class="control-group-addon"><i class="fa fa-user fa  icon_website"></i></span>
							    <span class="text_website">Forenames</span>
							</label>
							<div class="cols-sm-6">
								<div class="control-group">
                                    <input type="text" disabled="{{isDisabled}}" class="form-control"  placeholder="Your Forenames"  [(ngModel)]="user.forenames"/>
								</div>
							</div>
						</div>
						
						
						<div class="control-group">
							<label for="surname" class="cols-sm-2 control-label">
							   <span class="control-group-addon"><i class="fa fa-user fa  icon_website"></i></span>
							   <span class="text_website">Surname</span>
							</label>
							<div class="cols-sm-6">
								<div class="control-group">
                                    <input type="text" disabled="{{isDisabled}}" class="form-control"   placeholder="Your Surname"  [(ngModel)]="user.surname"/>
								</div>
							</div>
						</div>
										

						<div class="control-group">
							<label for="email" class="cols-sm-2 control-label">
							    <span class="control-group-addon"><i class="fa fa-envelope fa  icon_website"></i></span>
							    <span class="text_website">Email</span>
							</label>
							<div class="cols-sm-6">
								<div class="control-group">
									<input type="text" disabled="{{isDisabled}}" class="form-control" name="email" id="email"  placeholder="Your Email"  [(ngModel)]="user.email"/>
								</div>
							</div>
						</div>


				       <div class="control-group">
							<label for="telephone" class="cols-sm-2 control-label">
							   <span class="control-group-addon"><i class="fa fa-phone-square fa  icon_website"></i></span>
							   <span class="text_website">Home Phone No</span>
							</label>
							<div class="cols-sm-6">
								<div class="control-group">
									<input type="text" disabled="{{isDisabled}}" class="form-control" name="homePhoneNo" id="homePhoneNo"  placeholder="Home Phone No"  [(ngModel)]="user.homePhoneNo"/>
								</div>
							</div>
						</div>

                      <div class="control-group">
							<label for="password" class="cols-sm-2 control-label">
							   <span class="control-group-addon"><i class="fa fa-key fa  icon_website" ></i></span>
							   <span class="text_website">Password</span>
							</label>
							<div class="cols-sm-6">
								<div class="control-group">
									<input type="text" disabled="{{isDisabled}}" class="form-control" name="password" id="password"  placeholder="Your Password"  [(ngModel)]="user.password"/>
								</div>
							</div>
						</div>
												
	
                        
                        <br/>
                   

                  </div>
                  <div class="cols-sm-2"></div>
				</div>
				<!-- End of Middle centre displaying the User Details  -->
			
   </div> <!--   <div class="row main"> -->
   </div>	
	</div>	
 <br/>    	
                    

   
   
 </div>  
     
</div> <!-- <div class="container"> -->
<!-- End of Middle bit containing user details -->

</div> <!-- row -->

<div class="row extra-left-padding">
 <div class="cols-sm-3"><a (click)="goBack()"     style="color:white;font-weight:bold"     class="btn btn-small btn-success">Back</a></div>
 <div class="cols-sm-6">&nbsp;</div>
 <div *ngIf="status == 'update'" class="cols-sm-3">
      <a (click)="save()"     style="color:white;font-weight:bold"     class="btn btn-small btn-info">Save</a>
 </div>
</div>




  









<style>

.p{
display:block;
width:99%;
margin: auto 0;

background-color:yellow;

}

.block1{
  with:50%;
  float:left;
  
  background-color:red;
  
}


.block1{
  with:50%;
  float:left;
  
  background-color:blue;
  
}

</style>



 
 