<div [@routerTransition]>
	 <style type="text/css">
   .row.extra-left-padding{
      margin-left: 0px;
    }
    .row.extra-bottom-padding{
      margin-bottom: 20px;
    }
    img {
		margin: 0px 0 20px 0;
	}
</style> 
		
		
		
		
   <img [zoomable]='zoomOptions' [zoomableSrc]='imageSource' [src]='imageSource' class='img1'>
   
  
        <!-- ROW 2
		     <div class="row extra-left-padding">
		       	<div class="col-sm-12">
			       	    
					<div  *ngFor="let image of uploadedimages">
				 	    <div class="row"> 
	                        <div *ngIf="image.src">
                                                 
                               <img style="max-width:50%;" bind-src="image.src"  (click)="showImage($event);"/>
                           </div>
   						</div>
		 			</div> 
		     	</div>
	  		</div> 
  -->
  
   <!-- [beforeUpload]="onBeforeUpload" -->
  
   <div class="row">
	 <div class="col-sm-12">
 	   <image-upload 
	  [max]="3"
	 [beforeUpload]="onBeforeUpload"
	  [buttonCaption]="'Select Images!'"
	  [dropBoxMessage]="'Drop your images here!'"
	  [extensions]="['jpg','png','gif']"
	 (removed)="onRemoved($event)"
	 (clicked)="onClicked($event)"
	  (uploadFinished)="onUploadFinished($event)"
	  (uploadStateChanged)="onUploadStateChanged($event)">
	  </image-upload>
	</div>
   </div>
   
</div>
