<nav class="navbar navbar-expand-md navbar-dark  fixed-top">

  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" hieght="35px" width="35px" class="user-avatar" />SmartBank
  </a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
  data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration">Registration</a>
      </li>
      
      
       <li class="nav-item">
           <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="nav-link">
            List Users
        </a>
      </li>
      
     </ul>
    
    
    <form class="form-inline my-2 my-lg-0">
		 <div *ngxPermissionsExcept="['ROLE_ADMIN', 'ROLE_USER']">
		    <a  [routerLink]="['/login']">
		           <span class="glyphicon glyphicon-log-in icon_website">Login</span>
		    </a>
		</div>
	    <div *ngxPermissionsOnly="['ROLE_ADMIN', 'ROLE_USER']">
            <i class="fa fa-user icon_website">
              <span class="text_website">Hello: {{username}}</span>
            </i>
            <a  [routerLink]="['/logout']">
	           <span class="glyphicon glyphicon-log-out icon_website">Logout</span>
            </a>
	    </div>
 	</form>
    
        
  </div>
</nav>


