 <div class="bg-extended">
     <div class="row justify-content-md-center">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
 			         <div class="row">
 			         
                        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                       
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group label-floating">
                                  <h1 style="color:black;">eBusiness user login</h1>
                              </div>  
                            </div>
                          </div>

						  <div class="row">
							  <div class="col-sm-12">
							     <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
							       <label for="username" class="cols-sm-2 control-label">Username</label>
							       <div class="cols-sm-10">
							        <div class="input-group">
							         <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							         <input type="text" class="form-control"  [(ngModel)]="model.username" name="username" id="username"  placeholder="Enter your Username" #username="ngModel" required />
                                     <span *ngIf="f.submitted && !username.valid" class="help-block">Username is required</span>
							        </div>
							       </div>
							    </div>
							  </div>
						  </div>

						 <div class="row">
						   <div class="col-sm-12">
						    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
						       <label for="password" class="cols-sm-2 control-label">Password</label>
						       <div class="cols-sm-10">
						        <div class="input-group">
						          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						          <input type="password" class="form-control" [(ngModel)]="model.password" name="password" id="password"  placeholder="Enter your Password"  #password="ngModel" required/>
                                  <span *ngIf="f.submitted && !password.valid" class="help-block">Password is required</span>
					           </div>
						      </div>
						    </div>
						  </div>
						</div>
						
                        <div class="row">
                          <div class="col-sm-12">
							  <div class="form-group">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
							    <a href="#/forgotPassword"><i class="fa fa-shield"></i>Forgot Password</a>
							  </div>
						  </div>
						</div>
						
					</form>
					
			      </div>
                </div> 
              </div> <!-- <div class="row"> -->
              
              <br/>
              
             <div class="row">
 		 		  <div class="control-group">
				      <div class="cols-sm-12">
				          <div *ngIf="status === 'Succes'">
				              <div class="alert alert-success">
		  						<strong>Success!</strong> {{message}}
							  </div>
						  </div>
		                  <div *ngIf="status === 'Error'">	
		                  	 <div class="alert alert-danger">
					           <strong>Error!</strong> {{message}}
					         </div>			          
				          </div>
				      </div>
		          </div>			
            </div>
             
        </div> <!-- <div class="container"> -->

    </div> <!--    <div class="align-vertical-center">     -->
</div> <!--  <div class="bg-extended">    -->   

