<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
    
          <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-fw fa-table"></i>&nbsp; {{ 'Accounts' | translate }}
            </a>
        
            
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                 
                    <li>
	                 	<a [routerLink]="['/primary']" [routerLinkActive]="['router-link-active']" class="list-group-item">
	                    	<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Primary' | translate }}
	                  	</a>
                    </li>
                     <li>
                         <a [routerLink]="['/savings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                           
                             <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Saving' | translate }}
                         </a>
                    </li>
                 </ul>
            </li>
        </div>
         
         
       
         
         
        
         <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i  class="fa fa-fw fa-table"></i>&nbsp; {{ 'Transfers' | translate }}</span>
            </a>
       
            
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                         <a [routerLink]="['/betweenaccounts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                             <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Between Accounts' | translate }}
                         </a>
                      </li>
                    <li>
                         <a [routerLink]="['/persontoperson']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                           <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Person-To-Person' | translate }}
                         </a>                        
                    </li>
                    <li>
                         <a [routerLink]="['/recipients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Recipients' | translate }}
                         </a>                        
                    </li>                   
                    
                 </ul>
            </li>
        </div>
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i  class="fa fa-fw fa-table"></i>&nbsp; {{ 'Transactions' | translate }}</span>
            </a>
       
            
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                         <a [routerLink]="['/deposit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Deposit' | translate }}
                         </a>
                      </li>
                    <li>
                         <a [routerLink]="['/withdrawal']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Withdrawal' | translate }}
                        </a>                        
                    </li>
               </ul>
            </li>
        </div>
        
        
        
        <a [routerLink]="['/appointments']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Appointments' | translate }}
        </a>
        <a [routerLink]="['/profilesettings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Profile Settings' | translate }}
        </a>
     
      
    </div>
</nav>
